body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "GT-Flexa";
  font-variation-settings: "wght" 300, "wdth" 55, "ital" 0;
  background-color: #f4f4f4;
  cursor: url(../public/media/cursors/cursor.png) 15 15, auto;
  color: #222222;
}

button:hover {
  cursor: url(../public/media/cursors/cursor-hover.png) 15 15, auto;
}

h1 {
  all: unset;
  font-size: 3rem;
  font-variation-settings: "wght" 400, "wdth" 25, "ital" 0;
  text-transform: uppercase;
}

p {
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  --gradient: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1),
    rgba(253, 187, 45, 1)
  );
  transition: background-color 1s;
}

#static-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  background-color: #f4f4f4;
  justify-content: center;
  transition: background-color 1s ease-in-out, backdrop-filter 1s ease-in-out;
}

#nav {
  width: auto;
  display: grid;
  grid-template-columns: 15% repeat(15, minmax(auto, 8%)) 15%;
  grid-template-rows: calc(100vw / 15) 1fr 1fr auto;
  margin: 2rem 0rem 0rem 0rem;
  text-transform: capitalize;
  width: 100vw;
  z-index: 2;
  transition: filter 2s;
}

#sunglasses-iframe {
filter: brightness(2) blur(50px);
z-index: -20;
}

.to-front {
  z-index: 1 !important;
  filter: none !important;
  backdrop-filter: blur(5px);
}

@font-face {
  font-family: "GT-Flexa";
  src: url("../public/GT-Flexa-Trial-VF.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Fraunces-It";
  src: url("../public/Fraunces-Italic[SOFT,WONK,opsz,wght].woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Fraunces";
  src: url("../public/Fraunces[SOFT,WONK,opsz,wght].woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "GT-Corporate";
  src: url("../public/GT-Corporate-Web.woff2") format("woff2-variations");
}

.letter {
  transition: font-size 1s ease-in-out, font-variation-settings 0.2s,
    transform 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(90vw / 15);
  user-select: none;
  color: #222222;
}

.letter:hover {
  cursor: url(../public/media/cursors/cursor-hover.png) 15 15, auto;
  /* color: black;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#dot {
  display: flex;
  font-family: "GT-Flexa";
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: center;
}

#dot {
  grid-column-start: 17;
  border-radius: 100px;
  scale: 0.6;
}

#about {
  font-size: 2rem;
  line-height: 1.5rem;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

.small-img {
  position: relative;
  width: 100%;
  padding: 10%;
  z-index: 0;
}

.small-img img {
  width: 100%;
}

#dot svg {
  height: auto;
  max-height: 150px;
  max-width: 100%;
  width: auto;
  padding: 1rem;
  font-variation-settings: "wght" 400, "wdth" 15, "ital" 0;
}

#CLICKME1,
#CLICKME2 {
  animation: rotate360 20s linear infinite;
  transform-origin: 250px 250px;
}

@keyframes rotate360 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.nav-section {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: rgba(34, 34, 34, 0);
  height: 0.2rem;
  margin-bottom: 0.4rem;
  border-radius: 100vw;
}

.cat-hover {
  color: #222222;
}

#categories {
  grid-column-start: 1;
  grid-column-end: 18;
  justify-self: center;
  align-items: flex-end;
  width: 70%;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  height: 0rem;
  font-family: "GT-Flexa";
  color: rgba(34, 34, 34, 0.1);
  font-variation-settings: "wght" 400, "wdth" 35, "ital" 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: height 1s, opacity 1.5s ease-in-out, color 0.5s;
}

.page {
  width: 100%;
  min-height: 200vh;
}

.header {
  padding: 2rem;
  width: 75%;
  box-sizing: border-box;
  max-width: 1000px;
  min-height: 80vh;
  position: sticky;
  top: calc(180vw / 15 + 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-family: "GT-Flexa";
  font-variation-settings: "wght" 400, "wdth" 35, "ital" 0;
  font-size: 1.2rem;
  grid-column-start: 1;
  grid-column-end: 19;
  white-space: nowrap;
  overflow: hidden;
  transition: height 1s, opacity 1.5s ease-in-out;
}

.add-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-spacer {
  margin-top: calc(180vw / 15 + 4rem);
}

.single-img {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10%;
  z-index: 0;
  justify-content: center;
}

.single-img img,
.single-img video {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 75vh;
  box-sizing: border-box;
}

.single-img-txt {
  position: relative;
  width: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 0;
}

.single-img-txt img,
.single-img-txt video {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 75vh;
  box-sizing: border-box;
}

.single-img-full {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.image-desc {
  width: 33vw;
  max-width: 400px;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  width: 100%;
}

.double-img {
  margin: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.double-img img {
  object-fit: contain;
  max-width: 50%;
}

.triple-img {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10%;
  justify-content: center;
  gap: 5%;
  z-index: 0;
}

.triple-img img {
  object-fit: contain;
  max-width: 33%;
}

.tech {
  display: flex;
}

.bullet {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  text-decoration: none;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link:hover {
  cursor: url(../public/media/cursors/cursor-hover.png) 15 15, auto;
  background: none;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  color: #222222;
}

a:visited {
  color: #999999;
}

.tech img {
  margin-left: 1rem;
  height: 30px;
  float: center;
  z-index: -1;
  filter: saturate(0);
}

.scroll{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 5rem;
}

#kickflip {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url(../public/media/sk8/kickflip-bg-layers.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: top;
  translate: 0 2rem;
}

#kickflip video {
  width: 50vw;
  max-width: 550px;
  filter: brightness(1.3);
  animation: kickflip 2.7085s ease-in-out infinite;
}

@keyframes kickflip {
  0% {
    transform: translate(-2rem);
  }
  50% {
    transform: translate(2rem);
  }
  100% {
    transform: translate(-2rem);
  }
}
.fade-in {
  background-color: #f4f4f4;
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}


.petal{
  transform-origin: 55% 50%;
  z-index: -1;
 transform: scale(0.2);
 transition: transform 0.5s;
}
