body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "GT-Flexa";
  font-variation-settings: "wght" 300, "wdth" 55, "ital" 0;
  background-color: #f4f4f4;
  cursor: url(./cursors/cursor.png) 15 15, auto;
  color: #222222;
}

h1 {
  all: unset;
  font-size: 3rem;
  font-variation-settings: "wght" 400, "wdth" 25, "ital" 0;
  text-transform: uppercase;
}

p {
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  --gradient: linear-gradient(
    310deg,
    hsl(18deg 100% 50%) 0%,
    hsl(26deg 100% 50%) 29%,
    hsl(32deg 100% 50%) 43%,
    hsl(38deg 100% 50%) 57%,
    hsl(44deg 100% 50%) 71%,
    hsl(49deg 100% 50%) 100%
  );
  transition: background-color 1s;
}

#static-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  background-color: #f4f4f4;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

#nav {
  width: auto;
  display: grid;
  grid-template-columns: 15% repeat(15, minmax(auto, 8%)) 15%;
  grid-template-rows: 66px 1fr 1fr auto;
  margin: 2rem 0rem 0rem 0rem;
  text-transform: capitalize;
  width: 100vw;
  transition: filter 2s;
}

#sunglasses-iframe {
  filter: brightness(2) blur(50px);
  z-index: -20;
}

.to-front {
  z-index: 1 !important;
  filter: none !important;
  backdrop-filter: blur(5px);
}

@font-face {
  font-family: "GT-Flexa";
  src: url("./fonts/GT-Flexa-Trial-VF.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Fraunces-It";
  src: url("./fonts/Fraunces-Italic[SOFT\,WONK\,opsz\,wght].woff2")
    format("woff2-variations");
}

.letter {
  transition: font-size 1s ease-in-out, transform 0.8s, opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(3vw + 30px);
  user-select: none;
}

#dot {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  font-family: "GT-Flexa";
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: center;
  grid-column-start: 17;
  border-radius: 100px;
  scale: 0.8;
  z-index: 3;
}

#about {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 1.5rem;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

.square {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  /* transition: all 0.5s ease-out; */
  z-index: 0;
}
.container {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-img {
  position: relative;
  width: 100%;
  padding: 10%;
  z-index: 0;
}

.small-img img {
  width: 100%;
}

#dot svg {
  opacity: 0.1;
  height: auto;
  max-height: 175px;
  max-width: 100%;
  width: auto;
  padding: 2rem;
  transition: opacity 0.3s;
  font-variation-settings: "wght" 400, "wdth" 25, "ital" 0;
}

#dot svg:hover {
  opacity: 1;
}

#CLICKME1,
#CLICKME2 {
  -webkit-animation: rotate360 20s linear infinite;
  animation: rotate360 20s linear infinite;
  -webkit-transform-origin: 250px 250px;
  transform-origin: 250px 250px;
}

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.nav-section {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: rgba(34, 34, 34, 0);
  height: 0.2rem;
  margin-bottom: 0.4rem;
  border-radius: 100vw;
}

.cat-hover {
  color: #222222;
}

#categories {
  grid-column-start: 1;
  grid-column-end: 18;
  justify-self: center;
  align-items: flex-end;
  width: 70%;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  height: 0rem;
  font-family: "GT-Flexa";
  color: rgba(34, 34, 34, 0.1);
  font-variation-settings: "wght" 400, "wdth" 35, "ital" 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: height 1s, opacity 1.5s ease-in-out, color 0.5s;
}

.page {
  width: 100%;
  min-height: 200vh;
}

.header {
  padding: 2rem;
  width: 75%;
  box-sizing: border-box;
  max-width: 1000px;
  top: calc(180vw / 15 + 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-family: "GT-Flexa";
  font-variation-settings: "wght" 400, "wdth" 35, "ital" 0;
  font-size: 1.2rem;
  grid-column-start: 1;
  grid-column-end: 19;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  transition: height 1s, opacity 1s ease-in-out;
  z-index: -5;
}

.add-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about {
  height: calc(100vh - 180vw / 15 - 4rem);
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem;
}
.nav-spacer {
  margin-top: 200px;
}

.single-img {
  display: flex;
  position: relative;
  width: 100%;
  padding: 2rem;
  z-index: 0;
  justify-content: center;
  align-items: center;
}

.single-img img,
.single-img video {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 75vh;
  box-sizing: border-box;
}

.single-img-txt {
  position: relative;
  width: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 0;
}

.single-img-txt img,
.single-img-txt video {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 75vh;
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
}

.single-img-full {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.image-desc {
  max-width: 500px;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  place-self: center;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  width: 100%;
}

.double-img {
  margin: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.double-img * {
  object-fit: contain;
  max-width: 50%;
}

.triple-img {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10%;
  justify-content: center;
  gap: 5%;
  z-index: 0;
}

.triple-img img {
  object-fit: contain;
  max-width: 33%;
}

.tech {
  display: flex;
}

.bullet {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  text-decoration: none;
  color: #222222;
}

a:visited {
  color: #999999;
}

.tech img {
  margin-left: 1rem;
  height: 30px;
  float: center;
  z-index: -1;
  filter: saturate(0);
}

.scroll {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 5rem;
}

#kickflip {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url(./bg/kickflip-bg-layers.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: top;
  translate: 0 2rem;
}

#kickflip video {
  width: 50vw;
  max-width: 550px;
  filter: brightness(1.3);
  animation: kickflip 2.7085s ease-in-out infinite;
}

@keyframes kickflip {
  0% {
    transform: translate(-2rem);
  }
  50% {
    transform: translate(2rem);
  }
  100% {
    transform: translate(-2rem);
  }
}
.fade-in {
  background-color: #f4f4f4;
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.petal {
  transform-origin: 55% 50%;
  z-index: -1;
  transition: transform 0.5s;
}

#defaultCanvas0 {
  position: fixed;
  top: 0;
  left: 0;
  height: 140px !important;
}

.react-p5 {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 140px;
  overflow: hidden;
  filter: contrast(1) brightness(1.5);
}

.pens {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 1rem;
}

.bold {
  font-variation-settings: "wght" 700;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .header h1 {
    width: 100%;
    font-size: 2rem;
  }
  .header {
    width: 100%;
  }

  .add-info {
    width: 100%;
    font-size: 80%;
  }
  .double-img {
    flex-direction: column;
  }

  .double-img * {
    max-width: 100%;
  }

  .single-img-txt {
    grid-template-columns: 1fr;
  }

  .triple-img {
    flex-direction: column;
  }

  .triple-img img {
    max-width: 100%;
  }

  .img-R :last-child {
    display: flex;
    grid-row-start: 1;
  }

  .letter {
    font-size: 1.8rem;
  }

  #about {
    padding: 0;
    font-size: 14px;
  }

  #categories,
  .project-info {
    font-size: 1rem;
    width: 100%;
  }

  #dot {
    width: 150px;
  }
}

@media (hover: hover) {
  .link:hover {
    cursor: url(./cursors/cursor-hover.png) 15 15, auto;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button:hover {
    cursor: url(./cursors/cursor-hover.png) 15 15, auto;
  }

  .letter:hover {
    cursor: url(./cursors/cursor-hover.png) 15 15, auto;
    /* color: black;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
}
